* {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
}

html {
  height: 100%;
  background-color: bisque;
}

body {
  height: 100%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: larger;
  margin-top: 6rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.container-button {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.container-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 9rem;
}
